.idea/workspace.xml
tdd.iml
.idea/compiler.xml
.idea/dictionaries/alexe.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/modules.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml